{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block ptitle%}{% block wtitle %}{% trans "Create group pad" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "etherpad/menu.html" with tab='new_pad' %}
{% endblock %}

{% block content %}
<form action="{% url 'ep_create_new_pad' %}" method="post">{% csrf_token %}
<div class="form-group">
	<label for="id_name">{% trans "Name" %}</label>
	{% render_field form.name class+="form-control" %}
</div>
<div class="form-group">
	<label for="id_group">{% trans "Group" %}</label>
	{% render_field form.group class+="form-control" %}
	{% url 'groups_my_groups' as groups_link %}
	<div class="help-block">
	{% blocktrans %}You can create a new group in the <a href="{{ groups_link }}">group management</a>.{% endblocktrans %}
	</div>
</div>

<button class="btn btn-primary">{% trans "Create group pad" %}</button>
</form>

{% endblock %}
