{% extends "base.html" %}
{% load i18n %}

{% block ptitle%}
Etherpad - Übersicht
{% endblock %}

{% block content %}
<p><a href="https://ep.mafiasi.de">Ein Öffentliches Pad anlegen</a></p>

{% if not login %}
    <div class="alert alert-warning">Geschützte Gruppenpads funktionieren nur wenn du eingelogt bist. Du kannst momentan nur öffentliche Pads benutzen.</div>
{% else %}
    <p><a href="{% url 'ep_create_new_pad' %}">ein geschütztes Pad anlegen</a></p>

    <h2>Deine Gruppen und Pads:</h2>
    {% for group, pads in pad_list.items %}
        {% if pads %}
            <b>{{group}}</b>
            <ul>
            {% for pad in pads %}
                <li><a href="{% url 'ep_show_pad' group pad %}">{{pad}}</a></li>
            {%endfor%}
            </ul>
        {% endif %}
    {%endfor%}

{% endif %}
{% endblock %}
