{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block wtitle %}{% block ptitle %}{% trans "Etherpad overview" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "etherpad/menu.html" with tab='overview' %}
{% endblock %}

{% block content %}
<h3>{% trans "Create new pad" %}</h3>
{% url 'groups_index' as groups_link %}
<p>{% blocktrans %}You can either create public pads, which everybody who knows their URL can access or group pads, which can only be accessed by members of a group. In the <a href="{{ groups_link }}">group management</a> you can create groups and invite others.{% endblocktrans %}
<p>
	<a href="{{ etherpad_link }}" class="btn btn-primary">{% trans "Create public pad" %}</a>
	<a href="{% url 'ep_create_new_pad' %}" class="btn btn-primary">{% trans "Create group pad" %}</a>
</p>

{% if not user.is_authenticated %}
<div class="alert alert-warning">{% trans "Protected group pads can only be created if you are logged in." %}</div>
{% else %}
{% if pinned_pads.count > 0 %}
  <h3>{% trans "Your pinned pads" %}</h3>
  <ul>
    {% for pad in pinned_pads %}
      <li>
        <a href="{% url 'ep_show_pad' pad.group_name pad.pad_name %}">{{ pad.pad_name }}</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;<a href="{% url 'ep_show_pad_html' pad.group_name pad.pad_name %}">HTML</a>
        <form method="POST" class="inline-form" action="{% url 'ep_unpin_pad' pad.group_name pad.pad_name %}">
          {% csrf_token %}
          &nbsp;&nbsp;-&nbsp;&nbsp;<button class="button-link">Unpin</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h3>{% trans "Your group pads" %}</h3>

{% for group_entry in group_pad_list %}
{% if group_entry.pads %}
<div class="panel panel-default" id="panel-ep-group-{{ group_entry.group_name }}">
<div class="panel-heading"><h4 class="panel-title">
{{ group_entry.group_name }}
<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
</h4></div>
<div style="display: block;" class="panel-body">
<ul>
{% for pad in group_entry.pads %}
    <li><a href="{% url 'ep_show_pad' group_entry.group_name pad.name %}">{{ pad.name }}</a>
    &nbsp;&nbsp;-&nbsp;&nbsp;{% trans "Last changed:" %}
    {% if pad.edit_time_not_old %}
        {{ pad.last_edit|naturaltime }}
    {% else %}
        {{ pad.last_edit|date }}
    {% endif %}
    &nbsp;&nbsp;-&nbsp;&nbsp;<a href="{% url 'ep_show_pad_html' group_entry.group_name pad.name %}">HTML</a>
    {% if pad.admin %}
        &nbsp;&nbsp;-&nbsp;&nbsp;<a href="{% url 'ep_delete_pad' group_entry.group_name pad.name %}"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
    <form method="POST" class="inline-form" action="{% url 'ep_pin_pad' group_entry.group_name pad.name %}">
      {% csrf_token %}
      &nbsp;&nbsp;-&nbsp;&nbsp;<button class="button-link"><span class="glyphicon glyphicon-pushpin"></span></button>
    </form>
    </li>
{% endfor %}
</ul>
</div>
</div>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}
