{% extends "base.html" %}
{% load i18n %}

{% block wtitle %}{% block ptitle %}{% trans "Create group" %}{% endblock %}{% endblock %}

{% block content %}
<p class="bg-info">{% trans "Please note: The group name can be seen by other users." %}</p>
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group{% if error %} has-error{% endif %}">
        <label for="group_name">{% trans "Group name" %}</label>
        <input type="text" value="{{ group_name }}" class="form-control" name="group_name">
        <div class="help-block">{% trans 'Only letters, numbers, "-" and "_" are allowed. Must start with a letter.' %}
        {% if error %}<p>{{ error }}</p>{% endif %}
        </div>
    </div>
    <button class="btn btn-primary">{% trans "Create" %}</button>
</form>
{% endblock %}
