{% extends "base.html" %}

{% block wtitle %}{% block ptitle %}Impressum{% endblock %}{% endblock %}

{% block content %}

Dieses Impressum gilt für Internetseiten unterhalb der folgenden URLs:
<ul>
    <li><a href="https://www.informatik.uni-hamburg.de/Fachschaft/">https://www.informatik.uni-hamburg.de/Fachschaft/</a></li>
    <li><a href="https://oe.informatik.uni-hamburg.de/">https://oe.informatik.uni-hamburg.de/</a></li>
    <li><a href="https://mafiasi.de/">https://mafiasi.de/</a></li>
    <li>alle gültigen Subdomains von mafiasi.de"></li>
    <li><a href="https://oeinf.de">https://oeinf.de</a></li>
    <li>alle gültigen Subdomains von oeinf.de</li>
    <li><a href="https://cinsects.de">https://cinsects.de</a></li>
    <li>alle gültigen Subdomains von cinsects.de</li>
</ul>
<h4>Haftungsausschlüsse</h4>
<p>
Haftungsausschluss für unser Forum (discourse.mafiasi.de): <i>Discourse</i> ist ein <a href="http://de.wikipedia.org/wiki/Internetforum">Forum</a>, in welchem jedermann seine persönliche Meinung äußern kann. Die Fachschaft Informatik hat keinen direkten Einfluss auf die Inhalte dieser Forenbeiträge. Für die Forenbeiträge ist ausschließlich der jeweilige Urheber verantwortlich.
</p>
<p>
Haftungsausschluss für unser Wiki (wiki.mafiasi.de): Unser <i>Fachschaftswiki</i> ist ein <a href="http://de.wikipedia.org/wiki/Wiki">Wiki</a>, in welchem weitestgehend jedermann belibige Inhalte editieren kann. Die Fachschaft Informatik hat keinen direkten Einfluss auf die Inhalte der Wikiseiten. Für die jeweiligen Inhalte sind daher ausschließlich ihre Urheber verantwortlich.
</p>
<p>
Insgesamt ist zu beachten dass es sich bei den Beiträgen auf unseren Seiten fast immer um Handlungen von Einzelpersonen handelt, die wir nicht mit vertretbarem Aufwand (erst recht nicht vor ihrer Veröffentlichung) auf ihre Gesetzmäßigkeit überprüfen können. Sollten sie begründete Zweifel an der Gesetzmäßigkeit von Inhalten auf unseren Seiten haben, informieren sie uns bitte umgehend sodass wir sie prüfen und ggf. entfernen können.
</p>
<p>
Ansprechpartner für diese Internetseiten:
</p>
Universität Hamburg<br>
<b>Fachschaft Informatik</b><br>
Bundesstraße 56b<br>
20146 Hamburg<br>
Germany<br>
<p>
Email: fsr ett informatik punkt uni minus hamburg punkt de
</p>
<p>
Technische Fragen an: ag-server@informatik.uni-hamburg.de
</p>
<p>
Die Fachschaft Informatik ist gemäß § 102 (4) HmbHG Teil der Studierendenschaft der Universität Hamburg, rechtsfähige Gliedkörperschaft öffentlichen Rechts. Die Studierendenschaft wird vertreten durch den <a href="http://www.asta-uhh.de/">Allgemeinen Studierendenausschuss (AStA)</a> der Universität Hamburg.
</p>
<p>
Die Studierendenschaft untersteht gemäß § 106 (2) HmbHG der Rechtsaufsicht des Präsidiums:
</p>
<p>
Universität Hamburg<br>
Präsidium<br>
Edmund-Siemers-Allee 1<br>
20146 Hamburg<br>
Germany<br>
</p>
<p>
Wir danken den MitarbeiterInnen des <a href="https://www.inf.uni-hamburg.de/inst/irz.html">Informatik-Rechenzentrums</a> für die freundliche Bereitstellung von technischer Infrastruktur und die kompetente Unterstützung bei Problemen!
</p>
{% endblock %}
