{% extends "base.html" %}
{% load i18n %}

{% block wtitle %}{% block ptitle %}{% trans "Technical Info" %}{% endblock %}{% endblock %}

{% block content %}
<p>{% trans "This site uses the following software/components:" %}</p>
<ul>
    <li><a href="http://python.org/">Python</a></li>
    <li><a href="https://www.djangoproject.com/">Django</a></li>
    <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
	<li><a href="http://www.openldap.org/">OpenLDAP slapd</a></li>
	<li><a href="http://jquery.com/">jQuery</a></li>
	<li><a href="http://jqueryui.com/">jQuery UI</a></li>
    <li><a href="http://getbootstrap.com/">Bootstrap CSS</a></li>
    <li><a href="http://glyphicons.com/">Glyphicons Halflings icons</a></li>
	<li><a href="http://www.python-ldap.org/">python-ldap</a></li>
	<li><a href="https://github.com/jlaine/django-ldapdb">django-ldapdb</a></li>
    <li><a href="https://code.google.com/p/creoleparser/">creoleparser</a></li>
    <li><a href="http://genshi.edgewall.org/">Genshi</a></li>
    <li><a href="https://code.google.com/p/python-nameparser/">python-nameparser</a></li>
    <li><a href="https://pypi.python.org/pypi/django-widget-tweaks">django-widget-tweaks</a></li>
	<li><a href="https://launchpad.net/pygpgme">PyGPGME</a></li>
	<li><a href="http://pygraphviz.github.io/">PyGraphviz</a></li>
	<li><a href="http://networkx.github.io/">NetworkX</a></li>
	<li><a href="http://python-imaging.github.io/">Pillow</a></li>
	<li><a href="http://radicale.org/">Radicale</a></li>
	<li><a href="https://bitbucket.org/cyrilrbt/caldav/wiki/Home">CalDAV Python library</a></li>
	<li><a href="http://arshaw.com/fullcalendar/">FullCalendar</a></li>
	<li><a href="https://github.com/Changaco/python-etherpad_lite">python-etherpad_lite</a></li>
</ul>
{% endblock %}
