{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Technical Info" %}</h2>

{% blocktrans %}<p>This site uses <a href="http://python.org/">Python</a> with the <a href="http://djangoproject.com/">Django web framework</a></p>{% blocktrans %}

{% blocktrans %}<p>Also the following components are used:</p>
<ul>
    <li><a href="http://getbootstrap.com/">Bootstrap CSS</a></li>
    <li><a href="http://glyphicons.com/">Some icons from Glyphicons Halflings</a></li>
    <li><a href="https://code.google.com/p/creoleparser/">creoleparser</a></li>
    <li><a href="https://code.google.com/p/python-nameparser/">python-nameparser</a></li>
</ul>
{% endblocktrans %}
{% endblock %}
