{% load i18n %}
{% load group_tags %}
{% load settings_value %}
{% load static %}
{% load snow %}
{% is_snowing as is_snowing_val %}
{% value_from_settings BANNER_IMG as banner_img %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block wtitle %}{% endblock %} &middot; {% value_from_settings PROJECT_NAME %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/smoothness/jquery-ui-1.12.1.custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}
    {% block headJS %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% if is_snowing_val %}
        <link rel="stylesheet" href="{% static 'css/snow.css' %}" />
    {% endif %}
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            {% value_from_settings BANNER_IMG as banner_img %}
            {% if banner_img %}
                <div class="container">
                    <img src="{% static banner_img %}" style="width: 100%">
                </div>
            {% endif %}
            <div class="container">
                <a href="/" class="navbar-brand">{% value_from_settings PROJECT_BANNER %}</a>
                {% if user.is_authenticated %}
                <div class="pull-right">
                    {% url 'logout' as logout_url %}
                    <a class="btn btn-primary btn-sm" href="{% url 'groups_index' %}">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans "Groups" %}
                        {% open_invitations as oi %}
                        {% if oi %}
                            <span class="badge">{{ oi }}</span>
                        {% endif %}
                    </a>
					<a class="btn btn-default btn-sm" href="{% url 'registration_account' %}">
                        <span class="glyphicon glyphicon-cog"></span>
                        {% trans "Settings" %}
                    </a>
                    <span class="navbar-text">{% blocktrans with username=user.username %}Logged in as {{ username }}{% endblocktrans %}</span>
                    <a class="btn btn-default btn-sm navbar-btn" href="{{ logout_url }}">{% trans "Logout" %}</a>
                </div>
                {% else %}
                <div class="btn-group pull-right">
                    {% value_from_settings REGISTER_ENABLED as REGISTER_ENABLED %}
                    {% if REGISTER_ENABLED %}
                        <a class="btn btn-default navbar-btn" href="{% url 'registration_request_account' %}">{% trans "Register" %}</a>
                    {% endif %}
                    <a class="btn btn-primary navbar-btn" href="{% url 'login' %}">{% trans "Login" %}</a>
                </div>
                {% endif %}
            </div>
        </nav>

        <div class="container" id="content">
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
			{% block submenu %}
			{% endblock %}
			{% block heading %}
			<h2>{% block ptitle %}{% endblock %}</h2>
			{% endblock heading %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block outsidecontent %}
        {% endblock outsidecontent %}
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <form class="form-inline" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <p class="muted credit">
                    <a href="{% url 'base_imprint' %}">{% trans "Imprint" %}</a>
                    &middot;
                    <a href="{% url 'base_data_privacy_statement' %}">{% trans "Data privacy statement" %}</a>
                    &middot;
                    <a href="{% url 'base_technical_info' %}">{% trans "Technical info" %}</a>
                    &middot;
                    <a href="{% url 'base_problems' %}">{% trans "Problems?" %}</a>
                    &middot;
                    <button name="language" value="de" class="btn-link" style="padding: 0;" type="submit">Deutsch</button>
                    &middot;
                    <button name="language" value="en" class="btn-link" style="padding: 0;" type="submit">English</button>
                    &middot;
                    <button name="language" value="fr" class="btn-link" style="padding: 0;" type="submit">Français</button>
                </p>
            </form>
        </div>
    </div>

    {% if is_snowing_val %}
        <canvas id="snow-canvas"></canvas>
        <script src="{% static 'js/snow.mjs' %}" type="module"></script>
    {% endif %}

    <script src="{% static 'js/jquery-2.0.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui-1.12.1.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>
