<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mafiasi Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a href="/" class="navbar-brand">Mafiasi Hub</a>
        <p class="navbar-text pull-right">
        {% if user.is_authenticated %}
        Logged in as {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        </p>
        <div class="btn-group pull-right">
            {% if not user.is_authenticated %}
            <a class="btn btn-primary navbar-btn" href="{% url 'registration_request_account' %}">Register</a>
            <a class="btn btn-default navbar-btn" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
{% block content %}
{% endblock content %}
    </div>
</body>
</html>
