{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% trans "Mafiasi Hub" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.min.css">
    {% block css %}
    {% endblock css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <a href="/" class="navbar-brand">{% trans "Mafiasi Hub" %}</a>
                {% if user.is_authenticated %}
                <div class="pull-right">
                    {% url 'logout' as logout_url %}
                    <p class="navbar-text">{% blocktrans with username=user.username %}Logged in as {{ username }}{% endblocktrans %}</p>
                    <a class="btn btn-default navbar-btn" href="{{ logout_url }}">{% trans "Logout" %}</a>
                </div>
                {% else %}
                <div class="btn-group pull-right">
                    <a class="btn btn-primary navbar-btn" href="{% url 'registration_request_account' %}">{% trans "Register" %}</a>
                    <a class="btn btn-default navbar-btn" href="{% url 'login' %}">{% trans "Login" %}</a>
                </div>
                {% endif %}
            </div>
        </nav>

        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block outsidecontent %}
        {% endblock outsidecontent %}
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <form class="form-inline" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <p class="muted credit">
                    <a href="{% url 'base_imprint' %}">{% trans "Imprint" %}</a>
                    &middot;
                    <a href="{% url 'base_technical_info' %}">{% trans "Technical info" %}</a>
                    &middot;
                    <a href="{% url 'base_problems' %}">{% trans "Problems?" %}</a>
                    &middot;
                    <button name="language" value="de" class="btn-link" style="padding: 0;" type="submit">Deutsch</button>
                    &middot;
                    <button name="language" value="en" class="btn-link" style="padding: 0;" type="submit">English</button>
                </p>
            </form>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/common.min.js" type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>
