django
django-ldapdb
bleach
creoleparser
django-auth-ldap
django-email-log
django-widget-tweaks
etherpad_lite
fuzzywuzzy
nameparser
networkx
pillow
psycopg2
pygpgme
pygraphviz
PyPDF2
python-ldap
python-magic
pytz
raven
requests
git+git://github.com/tindie/pydiscourse.git@master
