{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<h2>{% trans "Reset password of your Jabber account" %}</h2>
<p>{% trans "Enter your current password to set the Jabber password to the entered one." %}</p>
<form method="post" class="width-limited">
    {% csrf_token %}
    <div class="form-group {% if form.password.errors %} has-error{% endif %}">
        <label class="control-label">{% trans "Password" %}</label>
        {% render_field form.password class+="form-control" %}
        {% if form.password.errors %}
        <span class="help-block">
            {% for error in form.password.errors %}{{ error }} {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Reset password" %}</button>
    </div>
</form>
{% endblock content %}
