{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<h2>Password des Jabber-Account zurücksetzen</h2>
<p>Gib dein aktuelles Passwort ein um das Jabber-Passwort auf dieses zurückzusetzen:</p>
<form method="post" class="width-limited">
    {% csrf_token %}
    <div class="form-group {% if form.password.errors %} has-error{% endif %}">
        <label class="control-label">Passwort</label>
        {% render_field form.password class+="form-control" %}
        {% if form.password.errors %}
        <span class="help-block">
            {% for error in form.password.errors %}{{ error }} {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Zurücksetzen</button>
    </div>
</form>
{% endblock content %}
