{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block wtitle %}{% trans "Dashboard" %}{% endblock %}
{% block heading %}
{% endblock %}

{% block content %}
<div class="row">
    <div id="dashboard" class="col-md-8">
        <h2>{% trans "Services" %}</h2>
        <div id="dashboard-services-container" class="row">
            {% for service in services %}
                <div id="service-{{ service.title }}" class="col-sm-6 dashboard-service" data-servicetitle="{{ service.title }}">
                    <div class="panel panel-default service">
                        <div class="panel-body">
                            <a href="{{ service.link }}" class="btn btn-default btn-lg pull-left service-icon">
                              <img src="{{ service.image }}" alt="{{ service.title }}" />
                            </a>
                            <h3><a href="{{ service.link }}">{{ service.title }}</a></h3>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="news" class="col-md-4">
        <h2>{% trans "News and more" %}</h2>
        {% for news in news_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ news.title }}
            </div>
            <div class="panel-body">
                {{ news.render_teaser }}
                {% if news.text %}
                <a href="{% url 'dashboard_show_news' news.pk %}" class="pull-right">Mehr...</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if 'wiki' in activated_services %}
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Wiki search" %}</div>
                <div class="panel-body" style="text-align:center;">
                    <form method="get" action="{{ wiki_search_url }}">
                        <input type="hidden" name="title" value="Spezial:Suche" />
                        <div class="input-group">
                            <input type="text" id="wiki_search" class="form-control" name="search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" name="go">{% trans "Search" %}</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        {% for panel in panel_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ panel.title }}
            </div>
            <div class="panel-body">
                {{ panel.render_content }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/dashboard.min.js' %}" type="text/javascript"></script>
{% endblock js %}
