{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div id="dashboard" class="col-md-8">
        <h2>{% trans "Services" %}</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{{ service_links.wiki }}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/wiki.png" alt="Wiki" />
                        </a>
                        <h3><a href="{{ service_links.wiki }}">Wiki</a></h3>
                        <p>{% trans "In the wiki you will find important information regarding your studies." %}</p>
                    </div>
                </div>
            </div>
            
			<div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{{ service_links.etherpad }}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/etherpad.png" alt="Etherpad" />
                        </a>
                        <h3><a href="{{ service_links.etherpad }}">Etherpad</a></h3>
						<p>{% trans "You can use the Etherpad to work together on a document in real time." %}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{{ service_links.dudle }}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/dudle.png" alt="Dudle" />
                        </a>
                        <h3><a href="{{ service_links.dudle }}">Dudle</a></h3>
						<p>{% trans "The Dudle helps you to find common dates for meetings easily." %}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{% url 'jabber_index' %}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/jabber.png" alt="Jabber" />
                        </a>
                        <h3><a href="{% url 'jabber_index' %}">Jabber</a></h3>
						<p>{% trans "On our Jabber server you can chat with your fellow students, which are already on your contact list." %}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{% url 'mumble_index' %}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/mumble.png" alt="Mumble" />
                        </a>
                        <h3><a href="{% url 'mumble_index' %}">Mumble</a></h3>
						<p>{% trans "You can use our mumble for voice chat with other fellow students." %}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{{ service_links.gprot }}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/gprot.png" alt="GProt" />
                        </a>
                        <h3><a href="{{ service_links.gprot }}">GProt</a></h3>
						<p>{% trans "The GProt contains memory minutes of oral and written exams." %}</p>
                    </div>
                </div>
            </div>
            
			<div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{{ service_links.planet }}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/planet.png" alt="Planet" />
                        </a>
                        <h3><a href="{{ service_links.planet }}">Planet</a></h3>
						<p>{% trans "Planet is a feed aggregator which collects blog entries from your fellow students." %}</p>
                    </div>
                </div>
            </div>
            
            {% if user.is_authenticated %}
            <div class="col-sm-6">
                <div class="panel panel-default service">
                    <div class="panel-body">
                        <a href="{% url 'registration_account' %}" class="btn btn-default btn-lg pull-left service-icon">
							<img src="{{ STATIC_URL }}img/services/account.png" alt="Account" />
                        </a>
                        <h3><a class="nav-link" href="{% url 'registration_account' %}">Account</a></h3>
						<p>{% trans "Here you can change your password here and configure your account." %}</p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    <div id="news" class="col-md-4">
        <h2>{% trans "News" %}</h2>
        {% for news in news_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ news.title }}
            </div>
            <div class="panel-body">
                {{ news.render_teaser }}
                {% if news.text %}
                <a href="{% url 'dashboard_show_news' news.pk %}" class="pull-right">Mehr...</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% for panel in panel_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ panel.title }}
            </div>
            <div class="panel-body">
                {{ panel.render_content }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
