{% extends "base.html" %}
{% load i18n %}

{% block wtitle %}{% block ptitle %}{% trans "Hello " %}{{ user.username }}{% endblock %}{% endblock %}

{% block content %}
<p>{% blocktrans with full_name=guest.invited_by.get_full_name username=guest.invited_by.username %}You were invited by {{ full_name }} ({{ username }}).{% endblocktrans %}</p>

{% url 'dashboard_index' as dashboard_url %}
{% blocktrans %}How about visiting <a href="{{ dashboard_url }}">the dashboard</a>?{% endblocktrans %}
{% endblock %}
