{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
        <div class="col-md-4">
            <h1 class="">Account anlegen</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Benutzername</label>
                    <p class="form-control-static">{{ username }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    {% render_field form.password1 class+="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Password bestätigen</label>
                    {% render_field form.password2 class+="form-control" %}
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Account anlegen" />
              </div>
          </form>
      </div>
  </div>


{% endblock content %}
