{% extends "base.html" %}
{% block content %}
<h2>Anfrage erfolgreich</h2>

<p>Du solltest einen Link per E-Mail an <strong>{{ email }}</strong> bekommen
haben, mit dem du den Account erstellen kannst.</p>

<h2>FIXME TODO</h2>
<p><a href="{% url 'registration_create_account' 'eyJhY3Rpb24iOiJyZXF1ZXN0X2FjY291bnQiLCJ5ZWFyZ3JvdXBfcGsiOjIsImFjY291bnQiOiIzZGVtbyIsImxhc3RfbmFtZSI6IkRvZSIsImZpcnN0X25hbWUiOiJKb2huIn0:1VML47:KRosG4bcD0ozPiFFz6n6Kb92uaY' %}">Link aus der E-Mail</a></p>
{% endblock content %}
