{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <h2>Ooops, wir kennen dich noch nicht :-(</h2>
            <p>Bitte gib uns doch noch ein paar Informationen.</p>
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="account" value="{{ account }}" />
                <div class="form-group">
                    <label class="control-label">Benutzername</label>
                    <p class="form-control-static">{{ account }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Vorname</label>
                    {% render_field info_form.first_name class+="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Nachname</label>
                    {% render_field info_form.last_name class+="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Jahrgang</label>
                    {% render_field info_form.yeargroup class+="form-control" %}
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Account anlegen" />
              </div>
          </form>
      </div>
  </div>
{% endblock content %}
