{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block wtitle %}{% trans "Registration" %}{% endblock %}
{% block ptitle %}{% trans "Sorry, but we don't know you yet :-(" %}{% endblock %}

{% block content %}
<div class="row">
            <p>{% trans "Please provide us some more information." %}</p>
        <div class="col-md-4">
            <form method="post" action="{% url 'registration_additional_info' %}">
                {% csrf_token %}
                <input type="hidden" name="account" value="{{ account }}" />
                <input type="hidden" name="domain" value="{{ domain }}" />
                <div class="form-group">
                    <label class="control-label">{% trans "Your Email" %}</label>
                    <p class="form-control-static">{{ account }}@{{ domain }}</p>
                </div>
                <div class="form-group{% if info_form.first_name.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "First name" %}</label>
                    {% render_field info_form.first_name class+="form-control" %}
                </div>
                <div class="form-group{% if info_form.last_name.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "Last name" %}</label>
                    {% render_field info_form.last_name class+="form-control" %}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{% trans "Create account" %}" />
              </div>
          </form>
      </div>
  </div>
{% endblock content %}
