{% load i18n %}
{% load gprot_extras %}

<a class="btn btn-xs btn-default" href="{% url 'gprot_view' gprot.pk %}">
    <span class="glyphicon glyphicon-eye-open"></span>
    {% trans 'View' %}
</a>
{% if gprot.author == user %}
<a class="btn btn-xs btn-default" href="{% url 'gprot_edit' gprot.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
    {% trans 'Edit' %}
</a>
{% if not gprot.published %}
{% if not gprot.is_pdf or gprot.content_pdf %}
<a class="btn btn-xs btn-success" href="{% url 'gprot_publish' gprot.pk %}"
   title="{% trans 'Publish' %}">
    <span class="glyphicon glyphicon-globe"></span>
</a>
{% endif %}
<a class="btn btn-xs btn-danger" href="{% url 'gprot_delete' gprot.pk %}"
   title="{% trans 'Delete' %}">
    <span class="glyphicon glyphicon-trash"></span>
</a>
{% else %}
<a class="btn btn-xs btn-default" href="{% url 'gprot_forget_owner' gprot.pk %}"
   title="{% trans 'Forget authorship' %}">
    <span class="glyphicon glyphicon-eye-close"></span>
</a>
{% endif %}
{% endif %}
