{% extends "base.html" %}
{% load i18n %}
{% load gprot_extras %}

{% block ptitle %}
{% block wtitle %}
{% blocktrans with course_name=gprot.course.get_full_name %}
Delete: {{ course_name }}
{% endblocktrans %}
{% endblock %}
{% endblock %}

{% block submenu %}
{% include "gprot/menu.html" with tab='delete' gprot=gprot %}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>{% trans "Examiners" %}</th>
        <td>{{ gprot.examiners|format_examiners }}</td>
    </tr>
    <tr>
        <th>{% trans "Exam date" %}</th>
        <td>{{ gprot.exam_date|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
</table>
<hr/>

<div class="alert alert-danger">
{% blocktrans trimmed %}
Do you really want to delete these memory minutes?
{% endblocktrans %}
</div>

<form method="POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit" name="delete">
        <span class="glyphicon glyphicon-trash"></span>
        {% trans 'Delete' %}
    </button>
    <a class="btn btn-default" href="{% url 'gprot_view' gprot.pk %}">
        {% trans 'Cancel' %}
    </a>
</form>
{% endblock %}
