{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load gprot_extras %}
{% load widget_tweaks %}

{% block wtitle %}{% block ptitle %}{% trans "Search for memory minutes" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "gprot/menu.html" with tab='search' %}
{% endblock %}

{% block content %}
<form method="post" action="" {% if not is_query %}style="margin-top: 50px;"{% endif %}>
{{ form.non_field_errors }}
{% csrf_token %}
<div class="form-group">
    {% if form.search.errors %}
    <div class="alert alert-danger">
        {{ form.search.errors }}
    </div>
    {% endif %}
    {% render_field form.search type="search" id="search" class="form-control" %}
    <div class="help-block">
{% trans 'Just enter the name of the course and/or examiner to see available memory minutes.' %}
    </div>
</div>
<div style="clear:both;"></div>
<button class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span>
    {% trans "Show memory minutes" %}
</button>
</form>

{% if gprots %}
<hr/>
<table class="table table-striped">
    <tr>
        <th>{% trans "Course" %}</th>
        <th>{% trans "Department" %}</th>
        <th>{% trans "Exam date" %}</th>
        <th>{% trans "Examiners" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
{% for gprot in gprots %}
    <tr>
        <td>{{ gprot.course.get_full_name }}</td>
        <td>
            {% if gprot.course.department %}
            {{ gprot.course.department }}
            {% endif %}
        </td>
        <td>{{ gprot.exam_date|date:"Y-m-d" }}</td>
        <td>{{ gprot.examiners|format_examiners }}</td>
        <td class="gprot-actions">
            {% include 'gprot/_action_list.html' %}
        </td>
    </tr>
{% endfor %}
</table>
{% elif is_query %}
<hr/>
<div class="alert alert-warning">
{% url 'gprot_notifications' as notifications_url %}
{% blocktrans %}
    Sorry, there are currently no published memory minutes matching your search.
    You may set up a <a href="{{ notifications_url }}">notification</a> if you
    would like to be informed when new memory minutes matching your query
    are published.
{% endblocktrans %}
</div>
{% endif %}

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gprot.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'select2/select2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'select2/select2-bootstrap.css' %}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'select2/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $("#search").select2({
        minimumInputLength: 2,
        placeholder: "{% trans 'Just enter the name of the course and/or examiner to see available memory minutes.' %}",
    });
    $(".help-block").remove();
</script>
{% endblock %}
