{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load gprot_extras %}

{% block wtitle %}{% block ptitle %}{% trans "List own memory minutes" %}{% endblock %}{% endblock %}

{% block submenu %}
    {% include "gprot/menu.html" with tab='own' %}
{% endblock %}

{% block content %}
    {% if gprots %}
        {% with has_status=True %}
        {% include "gprot/_gprot_list.html" %}
        {% endwith %}
    {% else %}
        <p>{% trans "You have no memory minutes we know of! :-(" %}</p>
    {% endif %}
    <p><a class="btn btn-primary" href="{% url 'gprot_create' %}">{% trans "Create new" %}</a></p>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gprot.css' %}"/>
{% endblock %}
