{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load gprot_extras %}

{% block wtitle %}{% block ptitle %}{% trans "List own memory minutes" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "gprot/menu.html" with tab='own' %}
{% endblock %}

{% block content %}
{% if gprots %}
<table class="table table-striped">
    <tr>
        <th>{% trans "Course" %}</th>
        <th>{% trans "Exam date" %}</th>
        <th>{% trans "Examiners" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
{% for gprot in gprots %}
    <tr>
        <td>{{ gprot.course.get_full_name }}</td>
        <td>{{ gprot.exam_date|date:"Y-m-d" }}</td>
        <td>{{ gprot.examiners|format_examiners }}</td>
        <td>
        {% if gprot.published %}
        <span class="label label-success">{% trans "published" %}</span>
        {% else %}
        <span class="label label-danger">{% trans "unpublished" %}</span>
        {% endif %}
        </td>
        <td class="gprot-actions">
            {% include 'gprot/_action_list.html' %}
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "You have no memory minutes we know of! :-(" %}</p>
{% endif %}
<p><a class="btn btn-primary" href="{% url 'gprot_create' %}">{% trans "Create new" %}</a></p>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gprot.css' %}" />
{% endblock %}
