{% load i18n %}
<ul class="nav nav-tabs">
    <li{% if tab == 'search' %} class="active"{% endif %}>
        <a href="{% url 'gprot_index' %}">{% trans "Search" %}</a>
    </li>
    <li{% if tab == 'create' %} class="active"{% endif %}>
        <a href="{% url 'gprot_create' %}">{% trans "Create new" %}</a>
    </li>
    <li{% if tab == 'reminder' %} class="active"{% endif %}>
        <a href="{% url 'gprot_index' %}">{% trans "Reminder" %}</a>
    </li>
{% if tab == 'edit' %}
    <li class="active">
        <a href="{% url 'gprot_edit' gprot.pk %}">{% blocktrans with course_name=gprot.course.name %}Edit: {{ course_name }}{% endblocktrans %}</a>
    </li>
{% endif %}
{% if tab == 'publish' %}
    <li class="active">
        <a href="{% url 'gprot_publish' gprot.pk %}">{% blocktrans with course_name=gprot.course.name %}Publish: {{ course_name }}{% endblocktrans %}</a>
    </li>
{% endif %}
</ul>
