{% extends "base.html" %}
{% load i18n %}

{% block wtitle %}{% block ptitle %}{% trans "Reminders" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "gprot/menu.html" with tab='reminders' %}
{% endblock %}

{% block content %}
{% blocktrans %}
<p>If want to contribute memory minutes yourself (which is great!) but worry that you
might forget writing them after your exam is over, you can add a reminder
here and we will send you an email right after the exam.</p>
{% endblocktrans %}
<form method="post" action="">
{% csrf_token %}
<table class="table table-striped">
{% if reminders %}
    <tr>
        <th>{% trans "Exam date" %}</th>
        <th>{% trans "Course" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
{% for reminder in reminders %}
    <tr>
        <td>{{ reminder.exam_date|date:"Y-m-d" }}</td>
        <td>{{ reminder.course.get_full_name }}</td>
        <td><a class="btn btn-default btn-xs" href="delete/{{ reminder.pk }}">{% trans "Remove" %}</a></td>
    </tr>
{% endfor %}
{% endif %}
    <tr>
        <td>
            <div class="form-group{% if error %} has-error{% endif %}">
                <input type="text" class="form-control" name="exam_date" id="reminder-exam-date-input" value="{{ course_name }}" placeholder="{% trans 'Exam date' %}">
            </div>
        </td>
        <td>
            <div class="form-group{% if error %} has-error{% endif %}">
                <input type="text" class="form-control" name="course_name" id="course-input" placeholder="{% trans 'Course' %}">
                <div id="course-item"></div>
            </div>
        </td>
        <td>
            <button class="btn btn-primary">{% trans "Add reminder" %}</button>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gprot.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gprot.js"></script>
<script type="text/javascript">
$(function() {
    GProt.initCreate({{ autocomplete_course_json|safe }},null,null,null);
});
</script>
{% endblock %}
