{% extends "base.html" %}
{% load i18n %}

{% block wtitle %}{% blocktrans with course_name=gprot.course.name %}Memory minutes: {{ course_name }}{% endblocktrans %}{% endblock %}

{% block ptitle %}{{ gprot.course.name }}{% if gprot.author == user %}<div class="pull-right">{% if not gprot.published %}<a class=" btn btn-primary" href="{% url 'gprot_publish' gprot.pk %}">{% trans 'Publish' %}</a>{% endif %} <a class="btn btn-default" href="{% url 'gprot_edit' gprot.pk %}">{% trans 'Edit' %}</a>{% endif %}</div>{% endblock %}

{% block submenu %}
{% include "gprot/menu.html" with tab='view' gprot=gprot %}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>{% trans "Examiner" %}</th>
        <td>{{ gprot.examiner.get_full_name }}</td>
    </tr>
    <tr>
        <th>{% trans "Exam date" %}</th>
        <td>{{ gprot.exam_date|date:"Y-d-m" }}</td>
    </tr>
</table>
<hr/>
{{ gprot.content|safe }}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}mathjax/MathJax.js"></script>
<script type="text/javascript">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX","input/MathML","input/AsciiMath","output/HTML-CSS","output/NativeMML"],
  extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js"],
  TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
  }
});
</script>
{% endblock %}
