$theme-colors: (
    "background": #18181a,
    "text-light": #e5e5e5,
    "text-dark": #000000,
);


$btn-colors: (
    "default": lighten(map-get($theme-colors, "background"), 17%),
    "primary": #15b2ff,
    "success": #28a745,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545,
);

$btn-text: (
    "default": "text-light",
    "primary": "text-dark",
    "success": "text-light",
    "info": "text-light",
    "warning": "text-dark",
    "danger": "text-light",
);


:root {
    --mafiasi-dark-bg: #{map-get($theme-colors, "background")};
    --mafiasi-dark-text-light: #{map-get($theme-colors, "text-light")};
    --mafiasi-dark-text-dark: #{map-get($theme-colors, "text-dark")};
    --mafiasi-dark-border-color: #{lighten(map-get($theme-colors, "background"), 11%)};
    --mafiasi-dark-hover: rgba(255, 255, 255, 0.1);
    --mafiasi-dark-striped: rgba(255, 255, 255, 0.05);
    --mafiasi-dark-contrast: #{lighten(map-get($theme-colors, "background"), 5%)};

    --mafiasi-dark-btn-default: #{map-get($btn-colors, "default")};
    --mafiasi-dark-btn-default-hover: #{darken(map-get($btn-colors, "default"), 6%)};
    --mafiasi-dark-btn-primary: #{map-get($btn-colors, "primary")};
    --mafiasi-dark-btn-primary-hover: #{darken(map-get($btn-colors, "primary"), 15%)};
    --mafiasi-dark-btn-success: #{map-get($btn-colors, "success")};
    --mafiasi-dark-btn-success-hover: #{darken(map-get($btn-colors, "success"), 15%)};
    --mafiasi-dark-btn-info: #{map-get($btn-colors, "info")};
    --mafiasi-dark-btn-info-hover: #{darken(map-get($btn-colors, "info"), 15%)};
    --mafiasi-dark-btn-warning: #{map-get($btn-colors, "warning")};
    --mafiasi-dark-btn-warning-hover: #{darken(map-get($btn-colors, "warning"), 15%)};
    --mafiasi-dark-btn-danger: #{map-get($btn-colors, "danger")};
    --mafiasi-dark-btn-danger-hover: #{darken(map-get($btn-colors, "danger"), 15%)};
}

#theme-toggle {
    background: transparent;
    border: none;

    &:active {
        box-shadow: none;
    }
}

@mixin darkmode {
    #wrap {
        background: var(--mafiasi-dark-bg);
        color: var(--mafiasi-dark-text-light);
    }

    .service-icon.btn-default {
        background: transparent;
        border: none;
    }

    .service-icon:hover {
        background: var(--mafiasi-dark-hover);
    }

    .service-icon>img {
        filter: contrast(0) brightness(1.8);
    }

    .dashboard-service>div {
        background: transparent;
        color: var(--mafiasi-dark-text-light);
        border-color: var(--mafiasi-dark-border-color);
    }

    .panel {
        background: transparent;
        color: var(--mafiasi-dark-text-light);
        border-color: var(--mafiasi-dark-border-color);
    }

    .panel .panel-heading {
        background: var(--mafiasi-dark-border-color);
        border-color: var(--mafiasi-dark-border-color);
        color: var(--mafiasi-dark-text-light);
    }

    .panel .panel-footer {
        background: var(--mafiasi-dark-border-color);
        border-color: var(--mafiasi-dark-border-color);
        color: var(--mafiasi-dark-text-light);
    }

    .modal {
        .modal-content {
            background-color: var(--mafiasi-dark-bg);
        }

        .modal-header,
        .modal-footer {
            border-color: var(--mafiasi-dark-border-color);
        }
    }

    .navbar {
        background: var(--mafiasi-dark-contrast);
        border-color: var(--mafiasi-dark-contrast);
    }

    #footer {
        background: var(--mafiasi-dark-contrast);
        border-color: var(--mafiasi-dark-contrast);
    }


    // Select2 Input Field
    .select2-container {
        background-color: transparent;

        .select2-choice,
        .select2-choices {
            background-image: none;
            background-color: transparent;
            color: var(--mafiasi-dark-text-light);
        }

        .select2-choices {
            .select2-search-choice {
                background: var(--mafiasi-dark-btn-default);
                color: var(--mafiasi-dark-text-light);
                border-color: var(--mafiasi-dark-border-color);
                box-shadow: none;
            }
        }

        &.select2-dropdown-open {
            .select2-choice {
                box-shadow: none;
            }
        }

        .select2-arrow {
            background: transparent;
            border-color: var(--mafiasi-dark-border-color);
        }
    }

    // Select2 Dropdown
    .select2-drop {
        background-color: var(--mafiasi-dark-bg);
        color: var(--mafiasi-dark-text-light);

        .select2-search input {
            background: var(--mafiasi-dark-bg);
            border-radius: 4px;
            border-color: var(--mafiasi-dark-border-color);
        }

        .select2-selection-limit,
        .select2-no-results {
            background: inherit;
        }
    }

    a {
        color: var(--mafiasi-dark-btn-primary);

        &:hover {
            color: var(--mafiasi-dark-btn-primary-hover);
        }
    }

    @each $name,
    $bg in $btn-colors {
        .btn-#{$name} {
            background: var(--mafiasi-dark-btn-#{$name});
            border-color: var(--mafiasi-dark-btn-#{$name});
            color: var(--mafiasi-dark-#{map-get($btn-text, $name)});

            &:hover,
            &:active,
            &.active {
                background: var(--mafiasi-dark-btn-#{$name}-hover);
                color: var(--mafiasi-dark-#{map-get($btn-text, $name)});
            }

            &:hover {
                border-color: var(--mafiasi-dark-btn-#{$name}-hover);
            }
        }
    }

    .form-control {
        background: var(--mafiasi-dark-bg);
        color: var(--mafiasi-dark-text-light);
        border-color: var(--mafiasi-dark-border-color);
    }

    .table-striped>tbody>tr:nth-of-type(2n+1),
    .table-striped>.row-group>.table-row:nth-of-type(2n),
    .table-striped .table-header {
        background: var(--mafiasi-dark-striped);
    }

    .table-hover>tbody>tr:hover {
        background: var(--mafiasi-dark-hover);
    }

    .table-striped>.row-group>.table-row:hover {
        background: var(--mafiasi-dark-hover) !important;
        color: var(--mafiasi-dark-text-light);
    }

    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td,
    .table-striped>.row-group>.table-row>.cell,
    .table-striped>.table-header>.cell {
        border-color: var(--mafiasi-dark-border-color);
    }

    .cell-favorite:hover {
        background: transparent !important;
    }

    .input-group-addon {
        background: var(--mafiasi-dark-btn-default);
        border-color: var(--mafiasi-dark-btn-default);
        color: #fff;
    }

    a.list-group-item {
        background: transparent;
        border-color: var(--mafiasi-dark-border-color);
        color: var(--mafiasi-dark-text-light);
    }

    a.list-group-item:hover,
    a.list-group-item:focus {
        background: var(--mafiasi-dark-hover);
        color: inherit;
    }

    .list-group-item.active,
    .list-group-item.active:hover,
    .list-group-item.active:focus {
        background: var(--mafiasi-dark-btn-primary);
        color: #000;
    }

    .nav-tabs {
        border-color: var(--mafiasi-dark-border-color);
    }

    .nav-tabs>li.active>a {
        color: var(--mafiasi-dark-text-light);
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        background: transparent;
        border-color: var(--mafiasi-dark-border-color);
        border-bottom-color: var(--mafiasi-dark-bg);
    }

    .nav-tabs>li>a:hover {
        border-color: var(--mafiasi-dark-border-color);
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
        background: var(--mafiasi-dark-hover);
    }

    .button-link {
        background: transparent;
    }

    .input-group-addon {
        background: var(--mafiasi-dark-btn-default);
        border-color: var(--mafiasi-dark-btn-default);
        color: #fff;
    }

    a.list-group-item {
        background: transparent;
        border-color: var(--mafiasi-dark-border-color);
        color: var(--mafiasi-dark-text-light);
    }

    a.list-group-item:hover,
    a.list-group-item:focus {
        background: var(--mafiasi-dark-hover);
        color: inherit;
    }

    .list-group-item.active,
    .list-group-item.active:hover,
    .list-group-item.active:focus {
        background: var(--mafiasi-dark-btn-primary);
        color: #000;
    }

    .nav-tabs {
        border-color: var(--mafiasi-dark-border-color);
    }

    .nav-tabs>li.active>a {
        color: var(--mafiasi-dark-text-light);
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        background: transparent;
        border-color: var(--mafiasi-dark-border-color);
        border-bottom-color: var(--mafiasi-dark-bg);
    }

    .nav-tabs>li>a:hover {
        border-color: var(--mafiasi-dark-border-color);
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
        background: var(--mafiasi-dark-hover);
    }

    .button-link {
        background: transparent;
    }

    .label-favorite {
        background-color: var(--mafiasi-dark-btn-default);
        color: var(--mafiasi-dark-text-light);
        border-color: var(--mafiasi-dark-border-color);
    }
}

html[data-theme="dark"] {
    @include darkmode;
}

@media (prefers-color-scheme: dark) {
    html:not([data-theme="light"]) {
        @include darkmode;
    }
}
