/*---------- GENERIC ---------*/

#wrap > .container {
    padding-top: 60px;
}

/*------------ DASHBOARD --------*/
#dashboard .glyphicon {
    top: -7px;
    font-size: 80px;
}

#dashboard .panel h3 {
    margin-top: 3px;
}

#dashboard .panel .col-xs-6 {
    width: auto;
    padding-right: 0;
}

#dashboard .service {
    min-height:160px;
}

#dashboard .service-icon {
    margin-right: 10px;
    width:110px;
    height:110px;
    transition: background-color 0.21s, border-color 0.21s, box-shadow 0.1s;
}

/* ------- FOOTER -------*/
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

#footer {
    text-align:center;
}

#footer a,
#footer button {
    color:#666;
}

@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
  }
}

.container .credit {
    margin: 18px 0;
}

.at-sign:before {
	content:"@";
}

.user-username {
	color:#888;
}

.important-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #d00;
  border-radius: 10px;
}

/* ------- MISC -------*/
.clickable {
    cursor: pointer;
} 

.inline-form {
  display: inline;
}

.button-link {
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;

  color: #337ab7;
}
