/*---------- GENERIC ---------*/

#wrap > .container {
    padding-top: 60px;
}

/*------------ DASHBOARD --------*/
#dashboard .glyphicon {
    top: -7px;
    font-size: 80px;
}

#dashboard .panel h3 {
    margin-top: 3px;
}

#dashboard .panel .col-xs-6 {
    width: auto;
    padding-right: 0;
}

#dashboard .service {
    min-height:160px;
}

#dashboard .service-icon {
    margin-right: 10px;
	width:110px;
	height:110px;
}

/* ------- FOOTER -------*/
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

#footer {
    text-align:center;
}

#footer a,
#footer button {
    color:#666;
}

@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
  }
}

.container .credit {
    margin: 20px 0;
}