#mumble-config-img {
	position:relative;
	width:585px;
	height:390px;
	background: url(../img/mumble-config.png);
	font-size:16px;
	font-weight:bold;
}

#mumble-config-label {
	position:absolute;
	top:55px;
	left:255px;
}

#mumble-config-address {
	position:absolute;
	top:103px;
	left:255px;
}

#mumble-config-port {
	position:absolute;
	top:150px;
	left:255px;
}

#mumble-config-username {
	position:absolute;
	top:198px;
	left:255px;
}
