{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Calendar" %}</h2>
<p>{% trans "The web interface is read-only. Use CalDAV with your favorite calendar software to add events." %}</p>

{% if shown_calendars %}
<ul>
{% for cal in shown_calendars %}
    <li>
    <label><input type="checkbox" checked="checked" name="calendar_path"
        value="{{ cal.pk }}" /> {{ cal.display_name }}
    </label>
    <a href="{{ cal.calendar.get_caldav_display_url }}">(caldav)</a>
    </li>
{% endfor %}
</ul>
{% endif %}

<div id="calendar"></div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/cal.min.css">
{% endblock css %}

{% block js %}
<script src="{{ STATIC_URL }}js/fullcalendar.min.js" type="text/javascript"></script>
<script>

$(document).ready(function() {
    function fetch_events(start, end, cb) {
        var calendar_paths = [];
        $('input[name="calendar_path"]').each(function() {
            if(this.checked) {
                calendar_paths.push(this.value);
            }
        });

        var start_timestamp = parseInt(start.getTime() / 1000, 10);
        var end_timestamp = parseInt(end.getTime() / 1000, 10);
        $.get('/cal/calendar_data', {
            'start': start_timestamp,
            'end': end_timestamp,
            'calendars': calendar_paths
        }, function(data) {
            cb(data['events']);
        });
    }
    
    var month_names = [
        '{% trans "January" %}',
        '{% trans "February" %}',
        '{% trans "March" %}',
        '{% trans "April" %}',
        '{% trans "May" %}',
        '{% trans "June" %}',
        '{% trans "July" %}',
        '{% trans "August" %}',
        '{% trans "September" %}',
        '{% trans "October" %}',
        '{% trans "November" %}',
        '{% trans "December" %}'
    ];
    var month_names_short = [
        '{% trans "Jan" %}',
        '{% trans "Feb" %}',
        '{% trans "Mar" %}',
        '{% trans "Apr" %}',
        '{% trans "May" %}',
        '{% trans "Jun" %}',
        '{% trans "Jul" %}',
        '{% trans "Aug" %}',
        '{% trans "Sep" %}',
        '{% trans "Oct" %}',
        '{% trans "Nov" %}',
        '{% trans "Dec" %}'
    ];
    var day_names = [
        '{% trans "Sunday" %}',
        '{% trans "Monday" %}',
        '{% trans "Tuesday" %}',
        '{% trans "Wednesday" %}',
        '{% trans "Thursday" %}',
        '{% trans "Friday" %}',
        '{% trans "Saturday" %}'
    ];
    var day_names_short = [
        '{% trans "Sun" %}',
        '{% trans "Mon" %}',
        '{% trans "Tue" %}',
        '{% trans "Wed" %}',
        '{% trans "Thu" %}',
        '{% trans "Fri" %}',
        '{% trans "Sat" %}'
    ];
    
    $('#calendar').fullCalendar({
        monthNames: month_names,
        monthNamesShort: month_names_short,
        dayNames: day_names,
        dayNamesShort: day_names_short,
        buttonText: {
            month: '{% trans "month" %}',
            week: '{% trans "week" %}',
            day: '{% trans "day" %}'
        },
        firstDay: 1,
        titleFormat: {
            month: 'MMMM yyyy',
            week: "d. [MMM.] [yyyy] {['&#8211;' d.]} MMM. {yyyy}",
            day: 'dddd, d. MMM. yyyy'
        },
        timeFormat: {
            agenda: 'H:mm{ - H:mm}',
            '': 'H(:mm)'
        },
        columnFormat: {
            month: 'ddd',
            week: 'ddd, d.M.',
            day: 'dddd, d.M.'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },

        editable: true,
        events: fetch_events
    });
    
});

</script>

{% endblock js %}
