.service {
    position: relative;
}

.handle {
    position: absolute !important;
    top: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 1em !important;
    font-size: 1em !important;
    margin: 0.3em;

    color: #BCC2C4;
}

.service-icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.first-of-april {
    transform: rotate(180deg);
}
