{% extends "groups/groups_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block wtitle %}{% block group_ptitle %}{% blocktrans with name=mailinglist.group.name %}Settings for {{ name }}{% endblocktrans %}{% endblock %}{% endblock %}

{% block group_content %}
<form method="post">
{% csrf_token %}
<div class="form-group">
    <label>
    {% render_field form.allow_others class+="form-control" %}
    {% trans "Allow emails from all senders." %}
    </label>
</div>
<p>
    <button class="btn btn-primary">{% trans "Save settings" %}</button>
    <a class="btn btn-default" href="{% url 'mailinglist_show_list' mailinglist.group.name %}">{% trans "Cancel" %}</a>
</p>
</form>
{% endblock %}
