# -*- coding:utf-8 -*-
import os
from .settings_base import *

DEBUG = bool(os.getenv("MAFIASI_DEBUG", ""))
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mafiasi',
        'USER': 'mafiasi',
        'PASSWORD': 'mafiasi',
        'HOST': 'localhost',
        'PORT': '5432',
    },
    'jabber': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ejabberd',
        'USER': 'mafiasi',
        'PASSWORD': 'mafiasi',
        'HOST': 'localhost',
        'PORT': '5432',
    },
    'etherpad': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'etherpad',
        'USER': 'mafiasi',
        'PASSWORD': 'mafiasi',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

LDAP_SERVERS = {
    'default': {
        'URI': 'ldap://localhost',
        'BIND_DN': '',
        'BIND_PASSWORD': '',
    },
    'registration': {
        'CA': '/path/to/ldap/ca.crt',
        'URI': '',
        'BIND_DN': '',
        'BIND_PASSWORD': '',
    }

}

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = os.getenv('MAFIASI_ALLOWED_HOSTS', 'localhost').split(',')

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/Berlin'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

# Make this unique, and don't share it with anybody.
SECRET_KEY = os.getenv('MAFIASI_SECRET_KEY', 'dev')

MIDDLEWARE = (
    'corsheaders.middleware.CorsMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    # Uncomment the next line for simple clickjacking protection:
    # 'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'mafiasi.base.middleware.InvalidMailMiddleware',
)


INSTALLED_APPS += (
    'mafiasi.discourse',
    'mafiasi.etherpad',
    'mafiasi.gprot',
    'mafiasi.groups',
    'mafiasi.guests',
    'mafiasi.jabber',
    'mafiasi.mail',
    'mafiasi.mailinglist',
    'mafiasi.mattermost',
    'mafiasi.mumble',
    'mafiasi.nextcloud',
    'mafiasi.registration',
    'mafiasi.teaching',
    'mafiasi.bitpoll',
    'mafiasi.fb18',
    'mafiasi.git',
    'mafiasi.jitsi',
    'mafiasi.sogo',
    'mafiasi.tauschen',
    'mafiasi.pks',
    'mafiasi.wiki',
    'mafiasi.kanboard',
    'mafiasi.whiteboard',
) + INSTALLED_APPS_LATE

EMAIL_DOMAIN = u'informatik.uni-hamburg.de'
PRIMARY_DOMAIN = u'informatik.uni-hamburg.de'
REGISTER_DOMAINS = [u'informatik.uni-hamburg.de', u'physnet.uni-hamburg.de']
REGISTER_DOMAIN_MAPPING = {
    u'physnet.uni-hamburg.de': 'physnet',
}

ACCOUNT_PATTERNS = {
    'informatik.uni-hamburg.de': r'\d?[a-z]+',
    'physnet.uni-hamburg.de': r'[a-z]+',
}

JABBER_DOMAIN = 'jabber.mafiasi.de'
JABBER_CERT_FILE = '/app/jabber-cert/tls.crt'
if os.path.isfile(JABBER_CERT_FILE):
    JABBER_CERT_FINGERPRINT = subprocess.check_output(['openssl', 'x509', '-in', JABBER_CERT_FILE, '-noout', '-fingerprint']).decode().strip()
else:
    JABBER_CERT_FINGERPRINT = ''

MUMBLE_SERVER = {
    'address': 'mumble.mafiasi.de',
    'port': 64738,
}
MUMBLE_CERT_FILE = '/app/mumble-cert/tls.crt'
if os.path.isfile(MUMBLE_CERT_FILE):
    MUMBLE_CERT_FINGERPRINT = subprocess.check_output(['openssl', 'x509', '-in', MUMBLE_CERT_FILE, '-noout', '-fingerprint']).decode().strip()
else:
    MUMBLE_CERT_FINGERPRINT = ''

DATABASE_ROUTERS = ['mafiasi.jabber.dbrouter.JabberRouter', 'ldapdb.router.Router']

IMPRINT_URL = 'https://wiki.mafiasi.de/Fachschaft_Informatik:Impressum'
TEAM_EMAIL = u'ag-server@informatik.uni-hamburg.de'
WIKI_URL = 'https://www2.informatik.uni-hamburg.de/Fachschaft/wiki/'

EMAIL_HOST = 'mailhost.informatik.uni-hamburg.de'
SERVER_EMAIL = 'Mafiasi.de server-ag@informatik.uni-hamburg.de'
DEFAULT_FROM_EMAIL = u'Mafiasi.de <ag-server@informatik.uni-hamburg.de>'
SERVER_EMAIL = DEFAULT_FROM_EMAIL
EMAIL_SUBJECT_PREFIX = u'[mafiasi.de] '

ROOT_DN = 'dc=mafiasi,dc=de'
CALDAV_BASE_URL = 'http://localhost:5232/dav/'
CALDAV_DISPLAY_URL = 'https://mafiasi.de/dav/'
HKP_URL = 'hkps://mafiasi.de'

import ldap
from django_auth_ldap.config import LDAPSearch

AUTHENTICATION_BACKENDS = (
    'django_auth_ldap.backend.LDAPBackend',
    'django.contrib.auth.backends.ModelBackend',
)
AUTH_LDAP_BIND_DN = ""
AUTH_LDAP_BIND_PASSWORD = ""
AUTH_LDAP_USER_SEARCH = LDAPSearch("ou=People,dc=mafiasi,dc=de",
                                   ldap.SCOPE_SUBTREE, "(uid=%(user)s)")
AUTH_LDAP_ALWAYS_UPDATE_USER = False

ETHERPAD_API_KEY = os.getenv('MAFIASI_EP_API_KEY', '')
ETHERPAD_URL = 'https://ep.mafiasi.de'
EP_COOKIE_DOMAIN = '.mafiasi.de'


GPROT_IMAGE_MAX_SIZE = 1
GPROT_PDF_MAX_SIZE = 5

DISCOURSE_URL = 'https://discourse.mafiasi.de'
SOGO_URL = 'https://sogo.mafiasi.de'
GIT_URL = 'https://git.mafiasi.de'
TAUSCHEN_URL = 'https://tauschen.mafiasi.de'
MATTERMOST_URL = 'https://mattermost.mafiasi.de'
NEXTCLOUD_URL = 'https://cloud.mafiasi.de'
JITSI_URL = 'https://conference.mafiasi.de'
FB18_URL = 'https://archiv.mafiasi.de/forum/fb18'
WIKI_URL = 'https://wiki.mafiasi.de'
BITPOLL_URL = 'https://bitpoll.mafiasi.de'
WHITEBOARD_URL = 'https://spacedeck.mafiasi.de'
KANBOARD_URL = 'https://kanboard.mafiasi.de'

PKS_COMMUNITY_DOMAINS = ['informatik.uni-hamburg.de', 'studium.uni-hamburg.de']

MAILINGLIST_DOMAIN = 'group.mafiasi.de'
MAILINGLIST_SERVER = ('127.0.0.1', 2522)
MAILCLOAK_DOMAIN = 'cloak.mafiasi.de'
MAILCLOAK_SERVER = ('127.0.0.1', 2523)
VALID_EMAIL_ADDRESSES = ['postmaster@mafiasi.de']
EMAIL_ADDRESSES_PASSWORD = 'changeme'

REGISTER_ENABLED = True
GUEST_EXTENSION = ".guest"
MAIL_SIGNATURE = "mafiasi.de-Team"
PROJECT_NAME = "mafiasi.de"
PROJECT_BANNER = "Mafiasi Hub"

MAIL_GREETING_EN = """
Best regards,

Your Server-AG"""

MAIL_GREETING_DE = """
Grüße,

Deine Server-AG"""

MAIL_INCLUDE_GERMAN = True

CORS_ORIGIN_ALLOW_ALL = True

#BANNER_IMG = "banner_cml.png"

DEFAULT_GUEST_GROUP = ""

GUEST_INVITE_HINT = "Must start with a letter and only contain alphanumeric characters. Lowercase only."
USER_LOGIN_HINT = "Note: For our account names we use two digits for year (e.g. <strong>13doe</strong> instead of 3doe)"
GUEST_INVITE_INSTRUCTION_LINK = "https://dash.crossmodal-learning.org/static_redir/instruction"

GUEST_ACCEPT_INVITATION_MAIL = False

INVALID_MAIL_DOMAIN = 'invalid.invalid'

REGISTRATION_LDAP_USER_SEARCH_FAST = LDAPSearch('dc=nested,dc=namespace,dc=base,dc=example,dc=org',
                                                ldap.SCOPE_SUBTREE,
                                                '(uid=%(uid)s)',
                                                ['mail', 'gecos', 'gidNumber'])
REGISTRATION_LDAP_USER_SEARCH_SLOW = LDAPSearch('dc=base,dc=example,dc=org',
                                                ldap.SCOPE_SUBTREE,
                                                '(uid=%(uid)s)',
                                                ['mail', 'gecos', 'gidNumber'])
REGISTRATION_LDAP_GROUP_SEARCH = LDAPSearch('dc=base,dc=example,dc=org',
                                            ldap.SCOPE_SUBTREE,
                                            '(&(gidNumber=%(gidNumber)s)(objectClass=group))',
                                            ['name'])