{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrastyle %}{{ block.super }}
<style>
.block {
    padding: 12px 14px 7px;
    margin: 0 0 20px;
    background: var(--darkened-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}

.block > p {
    margin: 10px 7px;
}
.block > a {
    float: left;
    background: var(--delete-button-bg);
    border-radius: 4px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    color: var(--button-fg);
    padding: 10px 7px;
    display: block;
}
</style>
{% endblock %}
{% block after_related_objects %}
<div class="block">
<a href="{% url 'admin:gprot_block' object_id %}">{% translate 'Block this Gprot' %}</a>
    <p>{% blocktranslate %}When a Gprot is blocked, a hash is saved that ensures that the same file cannot be uploaded again.{% endblocktranslate %}</p>
</div>
    <div style="clear: left;"></div>
{% endblock %}
