{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<h2>{% trans "Reset Mumble account" %}</h2>
<h2>{% trans "Remove certificate and set password for your Mumble account" %}</h2>
<p>{% trans "You can remove the certificate of your Mumble account and allow password authentication with your current password. On the next login on our Mumble server, your new certificate will be installed." %}</p>
<p>{% trans "Enter your current password to set the Mumble password to the entered one." %}</p>
<form method="post">
    {% csrf_token %}
    <div class="form-group {% if form.password.errors %} has-error{% endif %}">
        <label class="control-label">{% trans "Password" %}</label>
        {% render_field form.password class+="form-control" %}
        {% if form.password.errors %}
        <span class="help-block">
            {% for error in form.password.errors %}{{ error }} {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Reset password" %}</button>
    </div>
</form>
{% endblock content %}
