{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block wtitle %}{% trans "Trust graph" %}{% endblock wtitle %}
{% block heading %}{% endblock %}

{% block submenu %}
{% if party %}
{% include "pks/menu.html" with tab='party_graph' party=party %}
{% else %}
{% include "pks/menu.html" with tab='graph' %}
{% endif %}
{% endblock %}

{% block content %}
<p>
<span id="pks-graphselector-help">{% trans "You can drag the blue selector at the upper left to scroll." %}</span>
{% trans "Click on a node to highlight its connections." %}
{% if party %}
{% url 'pks_party_keys' party.pk as party_url %}
{% blocktrans with party_name=party.name %}Return to party <a href="{{ party_url }}">{{ party_name }}</a>.{% endblocktrans %}
{% endif %}
</p>
{% endblock content %}

{% block outsidecontent %}
<div id="pks-graphcontainer">
    <div id="pks-graphthumbcontainer">
        <img src="{{ MEDIA_URL }}pks-graphthumb-{{ graph_name }}.png" id="pks-graph-thumb" />
        <div id="pks-graphselector"></div>
    </div>

    <div id="pks-graphscroll">
		<object id="pks-graph" type="image/svg+xml" data="{{ MEDIA_URL }}pks-graph-{{ graph_name }}.svg"></object>
    </div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pks.min.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/pks-graph.min.js' %}" type="text/javascript">
</script>
{% endblock %}
