{% extends "pks/base.html" %}
{% load i18n %}

{% block wtitle %}{% block ptitle %}{% trans "My keys" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "pks/menu.html" with tab='my_keys' %}
{% endblock %}

{% block content %}
{% if keys %}
<form method="post" action="{% url 'pks_unassign_keys' %}">
{% csrf_token %}
{% include "pks/keylist.html" with keys=keys checkbox=True %}
<p><button class="btn btn-default">{% trans "Unassign" %}</button></p>
</form>
{% else %}
<p>{% trans "You have no keys assigned to you." %}</p>
{% endif %}

<form class="form-inline" role="form" method="post" action="{% url 'pks_assign_keyid' %}">
{% csrf_token %}
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon">{% trans "Keyid:" %}</div>
		<input class="form-control" id="assign-keyid" name="keyid" />
	</div>
</div>
<button class="btn btn-primary">{% trans "Assign key to me" %}</button>
<a class="btn btn-primary" href="{% url 'pks_upload_keys' %}">
    <span class="glyphicon glyphicon-plus"></span>
    {% trans 'Upload own keys' %}
</a>
</form>
<p>{% trans "Tip: You can type your name or email into the keyid field for autocompletion." %}</p>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
	$('#assign-keyid').autocomplete({'source': "{% url 'pks_autocomplete_keys' %}"});
});
</script>
{% endblock %}
