{% extends "pks/base.html" %}
{% load i18n %}

{% block ptitle %}{% block wtitle %}{% trans "Party keys:" %} {{ party.name }}{% endblock %}{% endblock %}

{% block submenu %}
{% include "pks/menu.html" with tab='party_keys' %}
{% endblock %}

{% block content %}
<ul>
	<li><a href="{% url 'pks_party_keys_export' party.pk %}">{% trans "Download all participating keys" %}</a></li>
	<li><a href="{% url 'pks_party_graph' party.pk %}">{% trans "Show trust graph for this party" %}</a></li>
	<li><a href="{% url 'pks_party_missing_signatures' party.pk %}">{% trans "Show missing signatures" %}</a></li>
</ul>

{% for participant in participants %}
<h3>{{ participant.user.get_full_name }}</h3>
{% include "pks/keylist.html" with keys=participant.keys %}
{% endfor %}
{% endblock %}
