{% extends "pks/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block wtitle %}{% block ptitle %}
    {% trans 'Add own OpenPGP key' %}
{% endblock %}{% endblock %}

{% block submenu %}
{% include "pks/menu.html" with tab='upload_keys' %}
{% endblock %}

{% block content %}
<form method="post" action="">
{% csrf_token %}
<div class="form-group {% if form.keys.errors %} has-error{% endif %}">
<p>{% trans "Insert one or more OpenPGP keys into the following field:" %}</p>
{% render_field form.keys class+="form-control" %}
{% if form.keys.errors %}
<div class="help-block">
{% for error in form.keys.errors %}{{ error }} {% endfor %}
</div>
{% endif %}
</div>
<p><button class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
    {% trans "Add keys" %}
</button>
</form>

{% endblock %}
