#gajim-jabber-config-img {
	position: relative;
	width: 531px;
	height: 220px;
	background: url(../img/gajim-en.png);
	font-size: 14px;
	margin: 1em;
}

#gajim-jabber-config-username {
	position: absolute;
	top: 58px;
	left: 103px;
}

#gajim-jabber-config-server {
	position: absolute;
	top: 58px;
	left: 315px;
}

#dino-jabber-config-img {
	position: relative;
	width: 402px;
	height: 255px;
	background: url(../img/dino-en.png);
	font-size: 15px;
	margin: 1em;
}

#dino-jabber-config-username {
	position: absolute;
	top: 128px;
	left: 63px;
}

#pidgin-jabber-config-img {
	position: relative;
	width: 397px;
	height: 509px;
	background: url(../img/pidgin-en.png);
	font-size: 12px;
	margin: 1em;
}

#pidgin-jabber-config-username {
	position: absolute;
	top: 105px;
	left: 190px;
}

#pidgin-jabber-config-domain {
	position: absolute;
	top: 132px;
	left: 190px;
}

#pidgin-jabber-config-alias {
	position: absolute;
	top: 272px;
	left: 190px;
}

#conversations-jabber-config-img {
	position: relative;
	width: 400px;
	height: 445px;
	background: url(../img/conversations-en.png);
	font-size: 15px;
	margin: 1em;
}

#conversations-jabber-config-username {
	position: absolute;
	top: 143px;
	left: 33px;
}
