#jabber-config-img {
	position: relative;
	width: 397px;
	height: 509px;
	background: url(../img/pidgin-en.png);
	font-size: 12px;
}

#jabber-config-username {
	position: absolute;
	top: 105px;
	left: 190px;
}

#jabber-config-domain {
	position: absolute;
	top: 132px;
	left: 190px;
}

#jabber-config-alias {
	position: absolute;
	top: 272px;
	left: 190px;
}
