.fc-event {
    color:#000;
}

.cal-color-0 {
	background: #efa;
	border-color: #ab6;
}

.cal-color-1 {
	background: #fea;
	border-color: #ba6;
}

.cal-color-2 {
	background: #fda;
	border-color: #b96;
}

.cal-color-3 {
	background: #fca;
	border-color: #b86;
}

.cal-color-4 {
	background: #faa;
	border-color: #b66;
}

.cal-color-5 {
	background: #fac;
	border-color: #b68;
}

.cal-color-6 {
	background: #fae;
	border-color: #b6a;
}

.cal-color-7 {
	background: #eaf;
	border-color: #a6b;
}

.cal-color-8 {
	background: #aff;
	border-color: #6bb;
}

.cal-color-9 {
	background: #adf;
	border-color: #69b;
}

.cal-color-10 {
	background: #aff;
	border-color: #6bb;
}

.cal-color-11 {
	background: #afd;
	border-color: #6b9;
}

.cal-color-12 {
	background: #afa;
	border-color: #6b6;
}

.cal-color-13 {
	background: #dfa;
	border-color: #9b6;
}

.cal-color-14 {
	background: #ffa;
	border-color: #bb6;
}
